body{

    background-color: rgb(55, 81, 116);
   
}
p{
 color: rgb(255, 226, 226);
    font-family: Arial, sans-serif;
}
h1{

    color: rgb(16, 21, 97);
    font-family: 'Segoe UI';
}
#imgPersonajes{
    width: 200px;
    height: auto;
    border-radius: 15px;
    margin: 10px;
}
h6{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}